#nav {
    margin: 10px;
    overflow: scroll;
}

.results {
    height: 600px;
    width: 340px;
    overflow: scroll;
}

.hero-search-table-red,
.hero-search-table-blue,
.hero-search-table-green,
.hero-search-table-colorless {
    width: 98%;
    padding: 5px;
    margin: 2px;
    border-radius: 10px;
}

#search[type=text] {
    width: 60%;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

#search[type=text]:focus {
    width: 60%;
}

.button {
    border-style: none;
    border-width: 1px;
    color: white;
    padding: 7px 7px;
    text-align: center;
    display: inline-block;
    font-size: 10px;
    margin: 0px 2px;
    border-radius: 15px;
    font-family: Lato, Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.hero-search-table-red:hover {
    background-color: #a52512;
    color: white;
}

.hero-search-table-blue:hover {
    background-color: #1c2777;
    color: white;
}

.hero-search-table-green:hover {
    background-color: #0e7a2d;
    color: white;
}

.hero-search-table-colorless:hover {
    background-color: gray;
    color: white;
}

.tooltip {
    position: absolute;
    text-align: center;
    width: 90px;
    height: 180px;
    padding: 10px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

.stat-button, .color-button {
    width: 90%;
    border-style: none;
    border-width: 1px;
    color: white;
    padding: 10px 7px;
    text-align: center;
    display: inline-block;
    font-size: 10px;
    margin: 5px;
    border-radius: 15px;
    font-family: Lato, Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.stat-button {
    background-color: #d8d165;
}

#redButton {
    background-color: #a52512;
}

#blueButton {
    background-color: #1c2777;
}

#greenButton {
    background-color: #0e7a2d;
}

#scatter-controls {
    margin-top: 35px;
}

.ui-autocomplete {
    max-height: 300px;
    overflow: scroll;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 2px;
}

.stats1 {
    float: left;
    width: 57%;
    margin: 2px;
}

#scatter {
    height: 700px;
}

.stats2 {
    float: left;
    width: 40%;
    margin: 2px;
}

.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}