.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.navbar > li {
    float: left;
}

.navbar > li > button {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: Transparent;
    border: none;
    outline: none;
}

li > button:hover {
    background-color: #111;
}

#nav {
    margin: 10px;
    overflow: scroll;
}

#team-row {
    margin: 10px;
}

.results {
    height: 560px;
    width: 340px;
    overflow: scroll;
}

#team-list {
    right: 0;
    position: absolute;
}

#team {
    height: 610px;
    width: 340px;
    overflow: scroll;
}

.hero-search-table-red,
.hero-search-table-blue,
.hero-search-table-green,
.hero-search-table-colorless {
    width: 98%;
    padding: 5px;
    margin: 2px;
    border-radius: 10px;
    border: 2px solid white;
}

#search[type=text] {
    width: 60%;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

#search[type=text]:focus {
    width: 60%;
}

.button {
    border-style: none;
    border-width: 1px;
    color: white;
    padding: 7px 7px;
    text-align: center;
    display: inline-block;
    font-size: 10px;
    margin: 0px 2px;
    border-radius: 15px;
    font-family: Lato, Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    outline: none;
}

.hero-search-table-red:hover {
    border-color: #a52512;

}

.hero-search-table-blue:hover {
    border-color: #1c2777;
}

.hero-search-table-green:hover {
    border-color: #0e7a2d;
}

.hero-search-table-colorless:hover {
    border-color: gray;
}

.tooltip {
    position: absolute;
    text-align: center;
    width: 90px;
    height: 180px;
    padding: 10px;
    font: 12px sans-serif;
    background: #d8d165;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

.stat-button, .color-button, .type-button, .range-button {
    width: 90%;
    border-style: solid;
    border-width: 1px;
    color: white;
    padding: 10px 7px;
    text-align: center;
    display: inline-block;
    font-size: 10px;
    margin: 3px;
    border-radius: 15px;
    font-family: Lato, Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    outline: none;
}

.remove-button, .add-button, .team-remove-button {
    border-style: none;
    border-width: 1px;
    color: white;
    padding: 5px 5px;
    text-align: center;
    display: inline-block;
    font-size: 10px;
    margin: 0px 2px;
    border-radius: 15px;
    font-family: Lato, Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
    float: right;
    padding: 9px 9px;
}

.stat-button {
    background-color: white;
    color: black;
    border-style: solid;
}

#redButton {
    background-color: #a52512;
}

#blueButton {
    background-color: #1c2777;
}

#greenButton {
    background-color: #0e7a2d;
}

#scatter-controls {
    margin-top: 15px;
    height: 660px;
    overflow: scroll;
}

.ui-autocomplete {
    max-height: 300px;
    overflow: scroll;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 2px;
}

.stats1 {
    float: left;
    width: 57%;
    margin: 2px;
}

#scatter {
    height: 660px;
}

.stats2 {
    float: left;
    width: 40%;
    margin: 2px;
}

.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

#hero1, #hero2, #hero3, #hero4 {
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
}

#sim-team {
    margin: 10px;
}

.boon-bane {
    margin: 10px 0px;
}

#hero1-skills > div,
#hero2-skills > div,
#hero3-skills > div,
#hero4-skills > div {
    margin: 4px 2px;
    width: 210px;
    display: block;
}

#hero1-stat-table,
#hero2-stat-table,
#hero3-stat-table,
#hero4-stat-table {
    border: none;
    width: 210px;
    text-align: center;
    margin: 1px;
    margin-bottom: 5px;
}

#hero1-stat-table > tbody > tr > th,
#hero1-stat-table > tbody > tr > td,
#hero2-stat-table > tbody > tr > th,
#hero2-stat-table > tbody > tr > td,
#hero3-stat-table > tbody > tr > th,
#hero3-stat-table > tbody > tr > td,
#hero4-stat-table > tbody > tr > th,
#hero4-stat-table > tbody > tr > td {
    border: none;
    text-align: center;
}

.stat-label {
    text-align: left !important;
    padding: 0px !important;
}

.sim-selector {
    width: 150px;
    float: right;
    size: 8;
    overflow: auto;
}

.special-charge {
    margin-left: 10px;
}

#hero1-skills > div > p,
#hero2-skills > div > p,
#hero3-skills > div > p,
#hero4-skills > div > p {
    font-size: 75%;
}